@use './nullstyle.scss';
@use './desktop.scss';
@use './tablet.scss';
@use './laptop.scss';

$font-sizeH: 5rem;
$font-size3rem: 3rem;
$font-size2rem: 2rem;
$margintop20px: 20px;
$marginbottom20px: 20px;
$border-colorblue: lch(23.38% 41.77 290.16);
$font-color1: lch(23.38% 41.77 290.16);
$font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$font-weight500: 500;
$font-weight300: 300;
$background-color1: lch(86.7% 0.01 296.81);
$opacity_05: 0.5; 
$border-solid: 1px solid black;
$border_radius10px: 10px;
$border_radius20px: 20px;
$padding10px: 10px;
$gap20px: 20px;

h1, h2 {
  font-family: $font-family;
  font-weight: $font-weight500;
  font-size: $font-sizeH;
  color: $font-color1;
}

.main, .deliveries, .dashboard, .header, .footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.dashboard-metrics {
  
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: $gap20px;
  justify-content: center;
  margin-top: $margintop20px;
  margin-bottom: $marginbottom20px;
  .dashboard-metrics-cards {
    
    padding: 25px 15px;
  border: 5px solid hotpink;
    box-sizing: content-box;
    font-size: $font-size3rem;
    font-weight: $font-weight300;
    color: $font-color1;  
    background-color: $background-color1;
    align-items: center;
    gap: $gap20px;
    height: 180px;
    text-align: center;
    margin-top: $margintop20px;
    justify-content: center;
    border: $border-solid;
    border-radius: $border_radius10px;
    padding: $padding10px;
    border-color: $border-colorblue;
    padding-left: 30px;
    padding-right: 30px; 
  }

  .metric-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
}



.header {
  background-color: $background-color1;
}

canvas.status-chart {
  cursor: pointer;
  width: 400px !important;
  height: 400px !important;
}

.link {
  color: $font-color1;
  font-size: $font-size3rem;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

  #root {
    overflow-x: hidden;
    overflow: auto;
  }
  




