$font-size1: 3rem;
$font-sizeH: 5rem;
$font-size25rem: 2.5rem;
$font-size3rem: 3rem;
$font-size2rem: 2rem;
$margintop20px: 20px;
$marginbottom20px: 20px;
$margintop40px: 40px;
$marginbottom40px: 40px;
$border-colorblue: lch(0% 0 0);
$font-color1: lch(100% 0.01 296.81);
$font-color2: lch(0% 0 0);
$background-color2: lch(63.54% 40.01 23.79);
$font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$font-weight500: 500;
$font-weight300: 300;
$background-color1: lch(18.57% 0.47 19.09);
$background-black: lch(0% 0 0);
$background-white: lch(0% 0 0);
$opacity_09: 0.9;
$opacity_12: 1.2; 
$border-solid: 1px solid black;
$border_radius10px: 10px;
$border_radius20px: 20px;
$padding10px: 10px;
$padding20px: 20px;
$padding30px: 30px;
$gap20px: 20px;
$transition: all 3s;
$filter: blur(10px);


@media screen and (min-width: 101px) and (max-width: 1010px)  {
  .header {
  height: 15vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: $gap20px;
  h1 {
    font-size: $font-size25rem;
  }
    [data-theme='dark'] & {
    background: $background-black;
    color: rgb(0, 0, 0);
    h1 {
      color: $font-color1;
        
    }
  } 
  [data-theme='light'] & {
    
    background: $background-white;
    border: 1px solid lch(18.57% 0.47 19.09) ;
    background-image: url("../public/unsplashwhite.jpg");
    background-color: rgba(255, 255, 255, 0.681);
    backdrop-filter: blur(60px);
    color: lch(18.57% 0.47 19.09);
    h1 {
      color: lch(18.57% 0.47 19.09);
        }
  }
  .header-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: rgba(32, 32, 32, 0.226);
  backdrop-filter: blur(60px);
  display: flex;
}
}


h1, h2 {
  font-family: $font-family;
  font-weight: $font-weight500;
  font-size: $font-sizeH;
  color: white;
}

.footer {
  width: 100%;
  height: 11vh;
  margin-top: 6vh;
  padding: $padding20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: $gap20px;
  h1 {
    font-size: $font-size25rem;
  }
  [data-theme='dark'] & {
    background: $background-black;
    color: rgb(0, 0, 0);
    h1 {
      color: $font-color1;
        
    }
  } 
  [data-theme='light'] & {
    background: $background-white;
    border: 1px solid lch(18.57% 0.47 19.09) ;
    background-image: url("../public/unsplashwhite.jpg");
    background-color: rgba(255, 255, 255, 0.681);
    backdrop-filter: blur(60px);
    color: lch(18.57% 0.47 19.09);
    h1 {
      color: lch(18.57% 0.47 19.09);
        }
}
.footer-container {
  width: 100px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: rgba(32, 32, 32, 0.226);
  backdrop-filter: blur(60px);
  display: flex;
  }
}


  
    html {
      overflow-x: none;
    }
  
  #root {
    width: 100%;
    overflow-x: hidden;
  }
  
  body {
    width: 100%;
    overflow-x: hidden;
  }

  .dashboard  {
    display: none;
    justify-content: center;
    flex-direction: column;
    width: 0vh; 
  }

  
  .main {
    justify-content: center;
    justify-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: $margintop40px;
  }

  .logo {
    display: none;
  }


.dashboard {
  height: 55vh;
  display: flex;
  flex-direction: column;
  gap: $gap20px;
  justify-content: center;
  align-items: center;
  margin-top:22px;
  backdrop-filter: blur(60px);
  .metric-card {
    display: hidden;
    margin: auto;
    width: auto;
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(20px);
    border-radius: $border_radius20px;
    padding: 10px;
    opacity: $opacity_09;
    transition: 0.5s;
    opacity: $opacity_12;
    cursor: default;
    &:hover {
      opacity: $opacity_12;
    }
  }

  .dashboard-metrics-cards {
    margin: auto;
    background-image: url("../public/unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 300px;
    display: none;
    justify-content: center;
    position: static;
    box-sizing: border-box;
    font-size: $font-size3rem;
    font-weight: $font-weight300;
    color: $font-color1;  
    height: 180px;
    margin-right: -160px;
    text-align: center;
    margin-top: $margintop20px;
    justify-content: center;
    border: $border-solid;
    border-radius: $border_radius20px;
    padding: $padding10px;
    border-color: $border-colorblue;
    transition: all 1s;
    cursor:auto;
  }
}

.dashboard-chart-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  text-align: center;
}


.choice {
  display: flex;
  justify-content: center;
  font-size: medium;
  cursor: pointer;
  padding: $padding10px;
  border: $border_radius20px;
  &:hover {
    text-decoration: none;
    border: $border_radius20px;
  }
}

.delivery-filters {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: $margintop20px;
  margin-bottom: $marginbottom20px;
  align-content: center;
  .handle-status-change {
    font-size: $font-size2rem;
  }
  .handle-service-change {
    font-size: $font-size2rem;
  }
}

.dashboard-chart-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20vh;
  justify-items: center;
  margin: auto;
  margin-top: $margintop20px;
}

canvas.status-chart {
  cursor: pointer;
  width: 400px !important;
  height: 400px !important;
  margin-left: auto;
}

.link {
  color: $font-color2;
  font-size: $font-size3rem;
  text-decoration: none;
  color: var(--text-color);
  [data-theme='dark'] & {
    color: $font-color1;
  }
  &:hover {
    text-decoration: underline;
  }
}

table {
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  margin: auto;
  padding: $gap20px;
  color: $font-color2;
}

tbody {
  margin-right: 20px;
  border: $border-solid;
  
  font-size: $font-size2rem;
}

th {
  
  border: $border-solid;
  color: $font-color1;
  border: $border_radius20px;
  font-size: $font-size2rem;
  padding: $padding30px;
  background-image: url("../public/deliveries.jpg");
  text-align: center;
  border-radius: $border_radius20px;

}

td {
  color: $font-color2;
  border: $border-solid;
  color: $font-color1;
  border-radius: $border_radius10px;
  padding: $padding30px;
  border: $border_radius20px;
  background-color: rgb(10, 10, 10);
  &:hover {
    background-color: rgb(38, 37, 37);
  }
}


  }


  